html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #6FB2D2, #6EDCD9, #F190B7);
    color: #FFFF;
    font-family: sans-serif;
}

.main-div {
    text-align: center;
}

.div-2 {
    margin: auto;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background: #FFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.child-1 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.child-2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}

h1 {
    font-weight: 800;
}

h3 {
    font-weight: 700;
}

p {
    position: relative;
    bottom: 15px;
}

.temp {
    color: #072227;
}
